body {
    padding-top: 50px;
}

.form-horizontal {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-cell {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    background-color: rgb(250, 250, 250);
    font-size: 16px;
}

.book-row {
    background-color: rgb(247, 247, 247);
}

.body-cell {
    padding-top: 25px !important;
    padding-bottom: 5px !important;
    font-size: 14px;
}

.jumbotron{
    color: white;
    margin: 0px;
    padding: 0px;
    height: 400px;
    background-image: url(../image/order.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }


